html, body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  background: linear-gradient(45deg, #0F0A31, #3F347E);
  height: -webkit-fill-available;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container-conteudo .card {
  width: 410px;
  height: 560px;
  background: #FAFAFA;
  border-radius: 1rem;
}
.container-conteudo .card .card-cima {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background: linear-gradient(45deg, #4453B2, #502C9E);
  height: 32%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.container-conteudo .card .card-cima .seta-voltar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  position: absolute;
  border: none;
  cursor: pointer;
  margin: 1rem;
  width: 24px;
  height: 24px;
}
.container-conteudo .card .card-cima .hidden {
  display: none;
}
.container-conteudo .card .card-cima .produto {
  position: relative;
  margin: auto;
  bottom: 29%;
}
.container-conteudo .card .card-baixo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem auto 0;
  gap: 2rem;
}
.container-conteudo .card .card-baixo .produto-info {
  width: 75%;
}
.container-conteudo .card .card-baixo .produto-info .produto-titulo {
  margin: 0;
  font-size: 1.25rem;
}
.container-conteudo .card .card-baixo .produto-info .produto-texto {
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: 0;
}
.container-conteudo .card .card-baixo .produto-info .produto-texto .produto-span {
  color: #4439C7;
}
.container-conteudo .card .card-baixo .produto-review {
  display: flex;
  flex-direction: column;
}
.container-conteudo .card .card-baixo .produto-review .review-rating {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.5rem;
}
.container-conteudo .card .card-baixo .produto-review .review-rating i {
  color: #75747A;
  font-size: 2rem;
  transition: all 0.2s ease;
}
.container-conteudo .card .card-baixo .produto-review .review-rating i:hover {
  color: #F5D9AD;
  background: #FAF2E7;
  border-radius: 50%;
}
.container-conteudo .card .card-baixo .produto-review .review-rating .active {
  color: #D4983E;
}
.container-conteudo .card .card-baixo .produto-review .review-rating .active:hover {
  color: #D4983E;
  background: #FAF2E7;
  border-radius: 50%;
}
.container-conteudo .card .card-baixo .produto-review .rating-desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.container-conteudo .card .card-baixo .produto-review .rating-desc span {
  font-size: 0.75rem;
  color: #75747A;
}
.container-conteudo .card .card-baixo .produto-review .hidden {
  display: none;
}
.container-conteudo .card .card-baixo .produto-review .review-texto .area-texto {
  max-width: 290px;
  max-height: 80px;
  border: none;
  border-radius: 0.5rem;
  background: #E3E1E4;
  padding: 0.5rem;
  color: #0C0C0D;
  outline: none;
}
.container-conteudo .card .card-baixo .produto-review .review-texto .area-texto::-moz-placeholder {
  color: #75747A;
}
.container-conteudo .card .card-baixo .produto-review .review-texto .area-texto::placeholder {
  color: #75747A;
}
.container-conteudo .card .card-baixo .produto-review .review-texto .area-texto:focus {
  border: 1px solid #685ED9;
  transition: 0.2s;
}
.container-conteudo .card .card-baixo .botao-confirmar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  width: 75%;
  height: 3.5rem;
  background-color: #685ED9;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.container-conteudo .card .card-baixo .botao-confirmar p {
  color: #FAFAFA;
  font-weight: 700;
}
.container-conteudo .card .card-baixo .botao-confirmar:hover {
  background: #4439C7;
  transition: 0.2s;
}/*# sourceMappingURL=style.css.map */