@import './var';

html, body {
    font-family: $fonte;
    font-size: $tamanho-do-texto;
    background: $cor-roxo-escuro-gradient;
    height: -webkit-fill-available;
    height: 100%;
    margin: 0;
    padding: 0;
}
