// Fonte principal
$fonte: 'Inter', sans-serif;

//Cores do produto
$cor-roxo: #685ED9;
$cor-roxo-escuro: #4439C7;
$cor-roxo-gradient: linear-gradient(45deg, #4453B2, #502C9E);
$cor-roxo-escuro-gradient: linear-gradient(45deg, #0F0A31, #3F347E);

//Cores base
$cor-branco: #FAFAFA;
$cor-cinza-claro: #E3E1E4;
$cor-cinza: #75747A;
$cor-cinza-escuro: #2F2F33;
$cor-preto: #0C0C0D;

//Cores do feedback
$cor-amarelo-claro: #FAF2E7;
$cor-amarelo: #F5D9AD;
$cor-amarelo-gradient: linear-gradient(#F9D399, #D4983E);

// Tamanho da fonte base
$tamanho-do-texto: 1rem;