@import '../abstract/var';

.container-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
    //*Card completo
    .card {
        width: 410px;
        height: 560px;
        background: $cor-branco;
        border-radius: 1rem;
        
        // *Parte de cima do card
        .card-cima {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            background: $cor-roxo-gradient;
            height: 32%;
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            
            // *Seta para voltar para a página anterior
            .seta-voltar {
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
                position: absolute;
                border: none;
                cursor: pointer;
                margin: 1rem;
                width: 24px;
                height: 24px;
            }
            
            // *Esconder a seta na página inicial
            .hidden {
                display: none;
            }
            .produto {
                position: relative;
                margin: auto;
                bottom: 29%;
            }
        }
        
        // *Parte de baixo do card
        .card-baixo {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 3rem auto 0;
            gap: 2rem;
            
            // *Descrição do produto
            .produto-info {
                width: 75%;
                .produto-titulo {
                    margin: 0;
                    font-size: $tamanho-do-texto * 1.25;
                }
                .produto-texto {
                    font-size: $tamanho-do-texto;
                    line-height: 150%;
                    margin-bottom: 0;
                    .produto-span {
                        color: $cor-roxo-escuro;
                    }
                }
            }
            
            // *Área de avaliação
            .produto-review {
                display: flex;
                flex-direction: column;
                .review-rating {
                    display: flex;
                    gap: 2rem;
                    margin-bottom: 0.5rem;
                    i {
                        color: $cor-cinza;
                        font-size: 2rem;
                        transition: all 0.2s ease;
                        &:hover {
                            color: $cor-amarelo;
                            background: $cor-amarelo-claro;
                            border-radius: 50%;
                        }
                    }
                    .active {
                        color: $cor-amarelo-estrela;
                        &:hover {
                            color: $cor-amarelo-estrela;
                            background: $cor-amarelo-claro;
                            border-radius: 50%;
                        }
                    }
                    
                }
                .rating-desc {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                    span {
                        font-size: $tamanho-do-texto * 0.75;
                        color: $cor-cinza;
                    }
                }
                .hidden {
                    display: none;
                }
                .review-texto {
                    
                    // *Textarea para avaliação
                    .area-texto {
                        max-width: 290px;
                        max-height: 80px;
                        border: none;
                        border-radius: 0.5rem;
                        background: $cor-cinza-claro;
                        padding: 0.5rem;
                        color: $cor-preto;
                        outline: none;
                        
                        // Cor do placeholder
                        &::placeholder {
                            color: $cor-cinza;
                        }
                        
                        // Borda quando o textarea for selecionado
                        &:focus {
                            border: 1px solid $cor-roxo;
                            transition: 0.2s;
                        }
                    }
                }
            }

            // *Botão para confirmar a avaliação
            .botao-confirmar {
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                align-items: center;
                width: 75%;
                height: 3.5rem;
                background-color: $cor-roxo;
                border: none;
                border-radius: 0.5rem;
                cursor: pointer;
                p {
                    color: $cor-branco;
                    font-weight: 700;
                }
                &:hover {
                    background: $cor-roxo-escuro;
                    transition: 0.2s;
                }
            }
        }
    }
}
